<footer class="sticky-footer container-fluid mt-5">
    <div class="row text-center bg-primary d-flex justify-content-between align-items-center">
        <div class="col-md-4 text-light">
            Our Mission: We provide a loving and accepting community for anyone who exercises from home for whatever reason ❤️
        </div>
        <div class="col-md-4 text-light">
            <p>CalisthenicsClub</p>
            <p>Copyright © 2022</p>
        </div>
        <div class="col-md-4">
            <img src="/images/logo.png" class="img-fluid w-50 h-100" alt="Responsive image">
        </div>
    </div>
</footer>