<div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 bg-primary text-white mb-0">
          <div>Advanced Level Exercises</div>
          <br>
          <div class="bg-primary">Exercise Descriptions and Images Provided by <a class="text-white text-decoration-none" href="https://whitecoattrainer.com/blog/bodyweight-training">TheWhiteCoatTrainer</a></div>
          <br>
          <div class="bg-primary">Time For Workout and Calories Burned are rough estimates based on the trainees respective level of experience.</div>
          <div class="bg-primary">They are calculated based on performing 3 sets of 10 where applicable.</div>
      </li>
    </ul>
  </div>

<div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Uneven Pushups</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>The uneven push-up begins to train each arm individually. By placing one hand higher than the other, you isolate the bottom arm to do more work overall. Just make sure to train both sides evenly.
            </div>
          <br>
          <div>Muscles Worked: Chest and Triceps</div>
          <div>Time For Workout: 6 Minutes</div>
          <div>Calories Burned: 30</div>
          <br>
          <img src="/images/uneven-pushups.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">The 1 Handed Push-Up</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>The one hand push-up is an exercise that demonstrates a good deal of strength. Only attempt it if you have developed a great foundation of strength in all of the other variations.
            Initially, you may only be able to do it with a wide foot stance and a slight bend in the upper body, but as you get stronger, you can bring your feet closer together.
        </div>
          <br>
          <div>Muscles Worked: Chest and Triceps</div>
          <div>Time For Workout: 6 Minutes</div>
          <div>Calories Burned: 40</div>
          <br>
          <img src="/images/1-handed-pushup.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Pseudo 1-Hand Pull-Ups</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>
            Grasp the bar with an underhand grip with one hand, then grasp your forearm with the other hand. Do as many as you can on each side.
            </div>
          <br>
          <div>Muscles Worked: Back and Biceps</div>
          <div>Time For Workout: 12 Minutes</div>
          <div>Calories Burned: 60</div>
          <br>
          <img src="/images/pseudo-pullup.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">The Muscle-Up</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>In order to do a muscle up, you need to be able to bring your waist to the bar! From this position, you can quickly flip your elbows upward and go into a bodyweight dip.</div>
          <br>
          <div>Muscles Worked: Back/Biceps/Triceps/Chest</div>
          <div>Time For Workout: 15 Minutes</div>
          <div>Calories Burned: 80</div>
          <br>
          <img src="/images/muscle-up.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Handstand Push-Ups</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>Once you are comfortable in a handstand, feel free to begin bending at the elbows and performing handstand pushups until your head is touching the floor on every rep.</div>
          <br>
          <div>Muscles Worked: Shoulders</div>
          <div>Time For Workout: 12 Minutes</div>
          <div>Calories Burned: 60</div>
          <br>
          <img src="/images/wallhandstand-pushup.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Single-Leg Box Squat</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>This exercise requires a sturdy box or a chair. Simple stand ~6 inches in front of it and balance yourself on one leg. From here, begin squatting down in a smooth controlled motion while keeping your other leg straight out in front of you for balance.
            Slowly sit down on the box, pause for a 1 count and push back up with the working leg, while never letting your other leg touch the ground.
            </div>
          <br>
          <div>Muscles Worked: Legs</div>
          <div>Time For Workout: 10 Minutes</div>
          <div>Calories Burned: 50</div>
          <br>
          <img src="/images/single-leg-box.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Box Jumps</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>
            Crouch down, forcefully extend at the hips and jump onto a sturdy box in a semi squat position. This exercise is included in the advanced section as it requires a great degree of athleticism, coordination, and balance. Don’t underestimate this exercise, and do it correctly!
          <div>
          <br>
          <div>Muscles Worked: Legs</div>
          <div>Time For Workout: 12 Minutes</div>
          <div>Calories Burned: 100</div>
          <br>
          <img src="/images/boxjumps.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>