<div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 bg-primary text-white mb-0">
          <div>Beginner Level Exercises</div>
          <br>
          <div class="bg-primary">Exercise Descriptions and Images Provided by <a class="text-white text-decoration-none" href="https://whitecoattrainer.com/blog/bodyweight-training">TheWhiteCoatTrainer</a></div>
          <br>
          <div class="bg-primary">Time For Workout and Calories Burned are rough estimates based on the trainees respective level of experience.</div>
          <div class="bg-primary">They are calculated based on performing 3 sets of 10 where applicable.</div>
      </li>
    </ul>
  </div>

<div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Wall Push-Ups</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>Stand approximately 4 feet away from a wall, and place your outstretched hands on the wall at shoulder width, at the level of your chest.</div>
          <br>
          <div>Muscles Worked: Chest and Triceps</div>
          <div>Time For Workout: 8 Minutes</div>
          <div>Calories Burned: 30</div>
          <br>
          <img src="/images/wall-pushups.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Incline Push-Ups</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>Find any object where you can press yourself off of. The higher the incline, the easier the exercise. As you continue to get stronger, make the incline shorter and shorter.

        </div>
          <br>
          <div>Muscles Worked: Chest and Triceps</div>
          <div>Time For Workout: 8 Minutes</div>
          <div>Calories Burned: 40</div>
          <br>
          <img src="/images/incline-pushups.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Wall Pulls</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>
              Find a doorway or a wall that is only ~8 inches wide where you can easily grasp both sides of it. Make sure that you can grip it safely. Bring your feet as close to the wall as possible and let your arms fully extend which will shift your body weight backward.
              Pull yourself back towards the wall and pinch your scapula together at the top. Slowly return back to the start.
            </div>
          <br>
          <div>Muscles Worked: Back and Biceps</div>
          <div>Time For Workout: 6 Minutes</div>
          <div>Calories Burned: 25</div>
          <br>
          <img src="/images/Wall-pulls.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Pull-Up Negatives</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>Find a box or a bench that will allow you to jump to the very top of the pull-up motion. From there, slowly lower yourself down to outstretched arms. Take at least 5 seconds on the descent. Repeat.</div>
          <br>
          <div>Muscles Worked: Back and Biceps</div>
          <div>Time For Workout: 10 Minutes</div>
          <div>Calories Burned: 50</div>
          <br>
          <img src="/images/pull-up-negatives.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Kneeling Pike Push-Ups</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>Similar to the kneeling push-up, kneel down on a mat and then create a pike position by bringing your hands as close to your feet as possible. From here bring the top of your head to the floor by bending at the elbows.</div>
          <br>
          <div>Muscles Worked: Shoulders</div>
          <div>Time For Workout: 6 minutes</div>
          <div>Calories Burned: 20</div>
          <br>
          <img src="/images/kneeling-pike.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">The Full Depth Supported Squat</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>In this exercise, you will simply have a chair or something that you can use to help push yourself back up from the bottom position. Basically, you will then use both your arms and your legs to squat back up.</div>
          <br>
          <div>Muscles Worked: Legs</div>
          <div>Time For Workout: 8 Minutes</div>
          <div>Calories Burned: 80</div>
          <br>
          <img src="/images/supported-squat.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">The Wall Sit</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>Simply squat down to the bottom position with your back firmly against a wall and hold it. You can also add weight in the form of books or people on your thighs to make the exercise harder.<div>
          <br>
          <div>Muscles Worked: Legs</div>
          <div>Time For Workout: 5 Minutes</div>
          <div>Calories Burned: 15</div>
          <br>
          <img src="/images/wall-sit.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>