<form class="m-5 w-75 forum-post-form p-5 new-log-form" data-aos="zoom-in">
    <div class="log-title log-color h2">Create New Workout Log</div>
    <div class="form-group log-color">
      <label for="log-title log-color">Title</label>
      <input type="text" name="log-title" class="form-control" id="log-title" placeholder="Enter Log Title">
    </div>
    <div class="form-group d-flex flex-column mt-3 log-color">
      <label for="log-body log-color">Body</label>
      <textarea id="log-body" name="log-body"></textarea>
    </div>
    <div class="form-group mt-3 log-color">
        <label for="log-calories log-color">How many calories did you burn?</label>
        <input type="number" name="log-calories" class="form-control" id="log-calories" placeholder="Enter a whole number!">
      </div>
      <div class="form-group mt-3 log-color">
        <label for="log-exercise log-color">How many exercises did you complete?</label>
        <input type="number" name="log-exercise" class="form-control" id="log-exercise" placeholder="Enter a whole number!">
      </div>
      <div class="form-group mt-3 log-color">
        <label for="log-time log-color">How long was your workout?</label>
        <input type="text" name="log-time" class="form-control" id="log-time" placeholder="Enter using this format: 0h 0m">
      </div>
    <button type="button" class="btn btnFunction mt-3 create-log">Create Log</button>
  </form>

<form class="m-5 w-75 forum-post-form p-5 new-post-form" data-aos="zoom-in">
    <div class="post-title h2">Create New Forum Post</div>
    <div class="form-group log-color">
      <label for="post-title">Title</label>
      <input type="text" name="post-title" class="form-control" id="post-title" placeholder="Enter Post Title">
    </div>
    <div class="form-group d-flex flex-column log-color">
      <label for="post-body">Body</label>
      <textarea id="post-body" name="post-body"></textarea>
    </div>
    <button type="submit" class="btn btnFunction mt-3">Create Post</button>
  </form>

  {{#if posts.length}}
  <ul class="list-group" data-aos="zoom-in">
    <div class="h2 p-5 log-color">Your Forum Posts:</div>
    {{#each posts as |post|}}
    <li class="list-group-item forum-grey">
      <div>{{post.title}}</div>
    <a href="/edit/{{post.id}}" class="btn-no-style">Edit post</a>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <div class="h2 p-5">You have no forum posts yet!</div>
  {{/if}}

  <script src="/javascript/add-post.js"></script>
  <script src="/javascript/add-log.js"></script>