<!--Workout Data Dashboard start-->
    <section class="border rounded">
        <div class="d-flex flex-row justify-content-between align-items-stretch text-justify text-uppercase">
            <!--Workout Attempted input and display-->
            <div class="p-1 m-2">
                <p>Workouts Attempted</p>
            </div>
            <!--Total Workout time input and display-->
            <div class="p-1 m-2">
                <p>Total Workout Time</p>
            </div>
            <!--Kcal burned input and display-->
            <div class="p-1 m-2">
                <p>Kcal</p>
            </div>
        </div>
    </section>
    <!--Workout Data Dashboard end-->
    <!--Weekly Goal Section start-->
    <section class="container-fluid">
        <div>
            <h2>Weekly Goal</h2>
        </div>
    </section>
    <!--Weekly Goal Section end-->
    <!--Exercise Log (will be created using javascript) start-->
    <section class="container-fluid">
        <div>
            <h2>Placeholder for Log</h2>
        </div>
    </section>
    <!--Exercise Log end-->