<div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 bg-primary text-white mb-0">
          <div>Intermediate Level Exercises</div>
          <br>
          <div class="bg-primary">Exercise Descriptions and Images Provided by <a class="text-white text-decoration-none" href="https://whitecoattrainer.com/blog/bodyweight-training">TheWhiteCoatTrainer</a></div>
      </li>
    </ul>
  </div>

<div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">The Standard Push-Up</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>In order to do standard pushups correctly, place your hands at the level of your chest, keep your butt squeezed and your abs engaged, and only bend at the elbows. Your torso should never change its position throughout the movement. 
              Keep your scapula (aka shoulder blades) retracted at the bottom of the exercise.</div>
          <br>
          <div>Muscles Worked: Chest and Triceps</div>
          <br>
          <img src="standard-pushup.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Dips</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>Dips are another great exercise you can add to your pressing tool belt. To do them, you will need dip bars or two sturdy objects that can support your weight. From here, bend at the elbows and retract your shoulder blades to maintain a stable shoulder position.       
        </div>
          <br>
          <div>Muscles Worked: Chest and Triceps</div>
          <br>
          <img src="dips.jpeg" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">The Standard Pull-Up/Chin-up</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>
            Hang from a pull-up bar and pull your chest up to the bar. You must focus on bringing your chest to the bar, not your chin! For the pull-up hang with palms facing away from you. For the chin-up hang with palms facing towards you.
            </div>
          <br>
          <div>Muscles Worked: Back and Biceps</div>
          <br>
          <img src="pull-up.webp" class="img-fluid" alt="Responsive image">
          <br>
          <img src="chin-up.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">The L-Pull-Up</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>In this exercise, you are simply going to extend your legs out in front of you creating an L shape with your body. You will do pull-ups like you normally would while maintaining the L shape.</div>
          <br>
          <div>Muscles Worked: Back/Biceps + Core</div>
          <br>
          <img src="l-pullup.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">The Pike Push-Up</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>Bend down and put your hands on the floor at shoulder width. From here, get onto your tippy-toes and try to create a V shape by bringing your hands and feet as close together as possible. From this position, bend at the elbows at a ~60-degree angle from your body until the top of your head touches the ground.
            Pause for a second, and press back up by pushing hard against the floor with your hands.</div>
          <br>
          <div>Muscles Worked: Shoulders</div>
          <br>
          <img src="pike-pushup.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Wall Hand Stands</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>Face a wall and stand ~6 inches away from it. Kneel down on your hands and knees and bend one knee up towards your head while the other is extended straight behind you. Secure your hands on the floor at approximately shoulder width, with your arms extended and locked.
            From here, kick off hard with the bent knee, which should help you propel both legs up into the air and towards the wall. Gently find the wall with the heels of your feet and extend your entire body. Keep everything tight and locked.
            
            </div>
          <br>
          <div>Muscles Worked: Shoulders</div>
          <br>
          <img src="hand-stand.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">The Air Squat</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>
              <div>In a perfect squat,</div>
              <div>1. Your hips should be below your knees when looking from the side</div>
              <div>2. Your feet should remain flat on the floor the entire time</div>
              <div>3. Your knees should never create a valgus angle (i.e, never let your knees be more medial than your feet)</div>
              <div>4. Your spine should remain in a neutral position.</div>
            <div>
          <br>
          <div>Muscles Worked: Legs</div>
          <br>
          <img src="wall-sit.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Close Stance Squats</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>Increase the difficulty of the squat by moving your feet closer together. Perform a squat with feet close together.</div>
          <br>
          <div>Muscles Worked: Legs</div>
          <br>
          <img src="close-stance.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>