<div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 bg-primary text-white mb-0">
          <div>Advanced Level Exercises</div>
          <br>
          <div class="bg-primary">Exercise Descriptions and Images Provided by <a class="text-white text-decoration-none" href="https://whitecoattrainer.com/blog/bodyweight-training">TheWhiteCoatTrainer</a></div>
      </li>
    </ul>
  </div>

<div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">The Planche Push-Up</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>This is the hardest variation you can do. Perform push-ups while having your legs off the floor.</div>
          <br>
          <div>Muscles Worked: Chest and Triceps</div>
          <br>
          <div>Exercise Demonstration by <a class="text-white text-decoration-none" href="https://www.calimove.com/">Calisthenic Movement</a></div>
          <br>
          <div>
            <img src="/images/planche1.png" class="img-fluid" alt="Responsive image"><img src="/images/planche2.png" class="img-fluid" alt="Responsive image">
          </div>
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Typewriter Pull-ups</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>The one hand push-up is an exercise that demonstrates a good deal of strength. Only attempt it if you have developed a great foundation of strength in all of the other variations.
            Initially, you may only be able to do it with a wide foot stance and a slight bend in the upper body, but as you get stronger, you can bring your feet closer together.
        </div>
          <br>
          <div>Muscles Worked: Chest and Triceps</div>
          <br>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item w-50" height="400px" src="https://www.youtube.com/embed/aOPWlwE6hXY?start=11" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">One Arm Pull-Up/Chin-up</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>
            Perform a pull-up or chin-up with one arm.
            </div>
          <br>
          <div>Muscles Worked: Back and Biceps</div>
          <br>
          <div>Exercise Demonstration by <a class="text-white text-decoration-none" href="https://pccblog.dragondoor.com/my-journey-towards-the-one-arm-pull-up/">Progressive Calisthenics</a></div>
          <br>
          <img src="/images/onearmpullup.jpeg" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Free Standing Hand Stand Push-Ups</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>Perform a Hand-Stand Pushup. This differs from the wall handstand pushup as the trainee should not use any form of assistance.</div>
          <br>
          <div>Muscles Worked: Shoulders</div>
          <br>
          <img src="/images/handstand-push-up.jpeg" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>

  <div class="card container-fluid mt-5 w-75 ps-0 pe-0 bg-primary" data-aos="zoom-in" data-aos-duration="1500">
    <ul class="list-group list-group-flush">
      <li class="list-group-item one h3 d-flex justify-content-between bg-primary text-white">Pistol-Squats</li>
      <li class="list-group-item two h5 bg-primary text-white mb-0">
          <div>The 1 leg squat, also known as pistol squats. There is no box, and you are squatting all the way down on one leg and coming all the way back up.</div>
          <br>
          <div>Muscles Worked: Legs</div>
          <br>
          <img src="/images/pistol-squat.webp" class="img-fluid" alt="Responsive image">
      </li>
    </ul>
  </div>
