header {
    font-family: 'Arvo', serif;
    letter-spacing: 5px;
  
  }
  
  .header-text {
      color: white;
  
  }
  h2 {
    color: dark grey;
    opacity: .4
  }
  
  html {
      position: relative;
      min-height: 100%;
    }
  
    body {
      margin-bottom: 60px;
    }
  
    .footer {
      position:fixed;
      bottom: 0;
      /* Set the fixed height of the footer here */
    }  
    
    .card {
        border: solid #707070;
        border-radius: 10px;
    }
  
  body {
    background-image: url(/images/pngegg-calback4.png);
  
  }

  .log-title {
    color: #707070;
    text-decoration: none;
  }

  .btnFunction {
    background-color: #707070;
    color: white;
  }

  
  
  