* {
  padding: 0px;
  margin: 0px;
}

.header-text {
    color: white;
}

html {
    position: relative;
    min-height: 100%;
  }

  body {
    /* Margin bottom by footer height */
    background-color: #D7D7D7;
    min-height: 100vh;
  }

  .card {
      border: solid black;
      border-radius: 10px;
  } 

  .forum-grey {
    background-color: #D7D7D7;
    color: #434343;
  }

  .forums-color {
    color: #434343;
  }
 
  ul {
    padding-bottom: 50px;
  }

  .sticky-footer {
    position: sticky;
    top: 100%;
  }

  .logo {
    border-radius: 12px;
  }

  .title {
        border-radius: 12px;
        color: #434343
  }

  .entire-form {
    border: solid #434343;
    border-radius: 12px;
  }

  .btnFunction {
    background-color: #434343;
    color: white;
  }

  .signup {
    color: #434343;
  }

  .btn-no-style {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }

  .post-title {
    color: #434343;
    text-decoration: none;
  }

  .upvote-btn {
    background-color: #434343;
    border-radius: 12px;
  }

  .comment-btn {
    background-color: #434343;
    border-radius: 12px;
  }

  .comment:nth-child(odd) {
    background-color: #a4a4a4;
    color: #434343; 
  }

  .forum-post-form {
    border: solid #434343;
    border-radius: 12px;  
  }

  #post-body {
    border-radius: 12px;
  }

  .img-background {
    background-image: url(/images/pngegg-calback4.png)
  }