* {
  padding: 0px;
  margin: 0px;
}

.header-text {
    color: white;
}

html {
    position: relative;
    min-height: 100%;
  }

  body {
    /* Margin bottom by footer height */
    background-color: #D7D7D7;
    min-height: 100vh;
  }

  .card {
      border: solid black;
      border-radius: 10px;
  } 

  .forum-grey {
    background-color: #D7D7D7;
    color: #434343;
  }

  .forums-color {
    color: #434343;
  }
 
  ul {
    padding-bottom: 50px;
  }

  .sticky-footer {
    position: sticky;
    top: 100%;
  }
  
  



  